body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commands li {
  font-weight: 700;
}

.commands li:hover  {
  cursor: pointer;
  color: brown;
}

input:hover,
 button:hover {
  cursor: pointer;
}

.input,
.output {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 500px;
  height: 500px;
}